table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }
 p,h2 {
    text-align: center;
 }

 img {
    height: 50px;
    width: 50px;
    display:block;
    margin:auto
 }

 .box {
    height: 150px;
    width: 1200px;
    margin: 0 auto; /*margin con el valor 0 auto para centrar horizontalmente elementos de nivel bloque como un div:*/
  }