<div style="color: blue;">
  <h2> ELEMENTOS DE SOFTWARE </h2>
   <p>
    Consumir un recurso JSON,
     <span style="color: rgb(20, 20, 235);"> Angular.</span>
   </p>
   <img src="./assets/imagen_angular.jpg">
 </div>
<div style="color: rgb(36, 36, 49);" class="box">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>CODIGO</th>
        <th>DESCRIPCIÓN</th>
        <th>DEPENDENCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ele of elementos">
        <td>{{ele.placa}}</td>
        <td>{{ele.descripci_n}}</td>
        <td>{{ele.dependencia}}</td>
      </tr>
    </tbody>
  </table>
</div>
